.commodity {
  /* background-image: url("../img/DSC_0808.jpg"); */
  height: 300px;
  color: white;
  padding: 30px;
}

.text {
  text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 900px;
    margin: auto;
    padding: 20px;
}

figure {
    width: 200px;
    background-color: white;
    margin: 6px 0;
    border: 1px solid #777;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
}

figure img {
  width: 100%;
  border-radius: 8px;
  transition: transform .4s ease-in .25s;
}

figure:hover img {
  transform: scale(1.75);
  border: 8px solid #FFF5A6;
  border-radius: 8px;
}

figure figcaption {
  text-align: center;
  padding: 16px 8px;
  color: black;

}

body {
  font-family: Comfortaa;
  background-color: #95957d;
  /* alt background image option : "../img/DSC_0808.jpg" */
  color: white;
}

@font-face {
  font-family: 'Comfortaa'; /*a name to be used later*/
    src: url('../font/Comfortaa-Regular.ttf'); /*URL to font*/

}
